@charset "utf-8";
/* CSS Document */

.backgroundcolor { background-color: black}
.bg-black{background-color: black}
.display-grid { display: grid;}


.grid-body{
	grid-template-columns: 30% 3% 20% 3% 20% 3% 10% 10%;
	grid-template-rows: 3% 20% 1% 2% 20% 1% 1% 1% 15% 15% 10% 80% 10%;
	
	gap: 1px;
	min-height: none;
	max-height: none;
}

.nav{
	color: springgreen;
	font-family: "Coffee Show";
	margin-left: 50px;
	margin-top: 15px;
	font-size: 20px;

	
}

.test1{
	grid-column: 1/5;
    grid-row: 12/14;
	color: white;
}

.TEXT_AN{
	 grid-row: 5/6;
	 grid-column: 1/12;
	margin-top: 10px;
	
}


.VIDEO-MAR-9-10{
	 grid-row: 9/10;
	 grid-column: 1/12;
	
	width: 700px;
    height: 700px;
	
	margin-left: 320px;
	margin-top: 30px;
}

.VIDEO-MAR-9-10-TEXT{
	grid-row: 9/10;
	 grid-column: 1/12;
	color: darkgoldenrod;
	text-decoration-color: darkgoldenrod;
	font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 80px;
	
	margin-left: 80px;
	margin-top: 130px;
}

.VIDEO-MAR-10-11{
	 grid-row: 10/11;
	 grid-column: 1/12;
	
	width: 700px;
    height: 700px;
	
	margin-left: 40px;
	margin-top: 10px;
	
	
}

.VIDEO-MAR-10-11-TEXT{
	 grid-row: 10/11;
	 grid-column: 9/12;
	
	margin-left: -500px;
	margin-top: 130px;
	
	color: darkgoldenrod;
	text-decoration-color: darkgoldenrod;
	font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 80px;
}


.Wereheretomakeadifferencenotjustaprofit{
	grid-column: 1/5;
    grid-row: 2/3;
	margin-left: -8px;
	margin-top: -270px;
	
}


.button-54 {
	grid-column: 5/9 ;
	grid-row: 1/2 ;
	height: 50px;
width: 190px;
	margin-left: 10px;
	margin-top: 25px;
	
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: darkorange;
	background-color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


.button-55{
		grid-column: 5/6;
    grid-row: 1/2;
	  border-radius: 10px;
	 cursor: pointer;
  position: relative;

}

.button-64 {
	grid-column: 8/9 ;
	grid-row: 1/2 ;
	height: 50px;
width: 190px;
	margin-left: -5px;
	margin-top: 25px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: orangered;
background-color: #000000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-64:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-64 {
    padding: 0.25em 0.75em;
  }
}


.button-65{
		grid-column: 7/8;
    grid-row: 1/2;
	  border-radius: 10px;
	 cursor: pointer;
  position: relative;

}


















/* Inspired by this pen by Pieter Biesemans https://codepen.io/pieter-biesemans/pen/BQBWXX and My Mother Before Me project http://mymotherbeforeme.com/ */

body {
  font-family: Hepta Slab, sans-serif;
  font-weight: 500;
  background: #efecdb;
  color: #5D4037;
}
* {
  box-sizing: border-box;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}

.img-wrapper:hover {
 min-height: 65vh;
}

.slower {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
.slower1 {
  transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}
.slower2 {
  transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}
.slower-down {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(16vh) ;
}
.faster {
  transform: rotate(90deg) translateZ(.15px) scale(0.8) translateX(0%) translateY(14vh) ;
}
.faster1 {
  transform: rotate(90deg) translateZ(.05px) scale(0.8) translateX(0%) translateY(10vh) ;
}
.fastest {
  transform: rotate(90deg) translateZ(.22px) scale(0.7) translateX(-10vh) translateY(-15vh) ;
}
.vertical {
   transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(0%) translateY(0%) ;
}
.last {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(25vh) translateY(-8vh) ;
}
.scroll-info, header {
  position: absolute;
  left: 1rem;
}


header {
  bottom: 1rem;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
  
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

.img-wrapper a {
  overflow: hidden;
  display: block;
  padding: 1vh ;
  background: #efecdb;
  box-shadow: 0 10px 50px #5f2f1182;
}
img {
  max-width: 45vh;
  max-height: 50vh;
  transition: .5s;
  vertical-align: top;
  filter: saturate(40%) sepia(30%) hue-rotate(5deg);
}
a:hover img {
  filter: none;
}
p {
  margin: 0;
}
.scroll-info {
  display: flex;
  align-items: center;
}
.icon svg {
    width: 50px;
    fill: currentcolor;
}











*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}




.FONT{
	
	@media (max-width: 1100px) {
		h1 {
			font-size:20px;
		}
	}
	
	@media (max-width: 900px) {
		h1 {
			font-size:15px;
		}
	}
	
	@media (max-width: 600px) {
		h1 {
			font-size:10px;
		}
	}
	

	
